
.button:hover {
  -fx-cursor: hand;
}

.button.mini {
  -fx-padding: 7 9 7 9;
  -fx-font-size: 8px;
}

.button.tiny {
  -fx-padding: 8 10 8 10;
  -fx-font-size: 10px;
}

.button.small {
  -fx-padding: 9 11 9 11;
  -fx-font-size: 12px;
}

/*.button:default {
  -fx-padding: 10 11, 10, 11;
  -fx-font-size: 14px;
!*  -fx-pref-width: 192;
  -fx-pref-height: 40;*!
}*/

.button.large {
  -fx-padding: 11 12 11 12;
  -fx-font-size: 16px;
}

.button.secondary {
  -fx-text-fill: rgb(17, 24, 39);
  -fx-background-color: rgb(255, 255, 255);
  -fx-border-color: #e5e7eb;
  -fx-border-width: 1px;
}
