package trydent.func.con;

import Functional;

import static java.util.Objects.requireNonNull;

@FunctionalInterface
public interface Consumer#ordinal<#types> extends Functional.Con {
  void accept(#params);

  default Consumer#ordinal<#types> then(Consumer#ordinal<#supers> after) {
    requireNonNull(after, "After-consumer can't ben null.");
    return (#vars) -> { accept(#vars); after.accept(#vars); };
  }
}
