$red-9: #7f1d1d !default;
$red-8: #991b1b !default;
$red-7: #b91c1c !default;
$red-6: #dc2626 !default;
$red-5: #ef4444 !default;
$red-4: #f87171 !default;
$red-3: #fca5a5 !default;
$red-2: #fecaca !default;
$red-1: #fee2e2 !default;
$red-0: #fef2f2 !default;

$orange-9: #7c2d12 !default;
$orange-8: #9a3412 !default;
$orange-7: #c2410c !default;
$orange-6: #ea580c !default;
$orange-5: #f97316 !default;
$orange-4: #fb923c !default;
$orange-3: #fdba74 !default;
$orange-2: #fed7aa !default;
$orange-1: #ffedd5 !default;
$orange-0: #fff7ed !default;

$amber-9: #78350f !default;
$amber-8: #92400e !default;
$amber-7: #b45309 !default;
$amber-6: #d97706 !default;
$amber-5: #f59e0b !default;
$amber-4: #fbbf24 !default;
$amber-3: #fcd34d !default;
$amber-2: #fde68a !default;
$amber-1: #fef3c7 !default;
$amber-0: #fffbeb !default;

$yellow-9: #713f12 !default;
$yellow-8: #854d0e !default;
$yellow-7: #a16207 !default;
$yellow-6: #ca8a04 !default;
$yellow-5: #eab308 !default;
$yellow-4: #facc15 !default;
$yellow-3: #fde047 !default;
$yellow-2: #fef08a !default;
$yellow-1: #fef9c3 !default;
$yellow-0: #fefce8 !default;

$lime-9: #365314 !default;
$lime-8: #3f6212 !default;
$lime-7: #4d7c0f !default;
$lime-6: #65a30d !default;
$lime-5: #84cc16 !default;
$lime-4: #a3e635 !default;
$lime-3: #bef264 !default;
$lime-2: #d9f99d !default;
$lime-1: #ecfccb !default;
$lime-0: #f7fee7 !default;

$green-9: #14532d !default;
$green-8: #166534 !default;
$green-7: #15803d !default;
$green-6: #16a34a !default;
$green-5: #22c55e !default;
$green-4: #4ade80 !default;
$green-3: #86efac !default;
$green-2: #bbf7d0 !default;
$green-1: #dcfce7 !default;
$green-0: #f0fdf4 !default;

$emerald-9: #064e3b !default;
$emerald-8: #065f46 !default;
$emerald-7: #047857 !default;
$emerald-6: #059669 !default;
$emerald-5: #10b981 !default;
$emerald-4: #34d399 !default;
$emerald-3: #6ee7b7 !default;
$emerald-2: #a7f3d0 !default;
$emerald-1: #d1fae5 !default;
$emerald-0: #ecfdf5 !default;

$teal-9: #134e4a !default;
$teal-8: #115e59 !default;
$teal-7: #0f766e !default;
$teal-6: #0d9488 !default;
$teal-5: #14b8a6 !default;
$teal-4: #2dd4bf !default;
$teal-3: #5eead4 !default;
$teal-2: #99f6e4 !default;
$teal-1: #ccfbf1 !default;
$teal-0: #f0fdfa !default;

$cyan-9: #164e63 !default;
$cyan-8: #155e75 !default;
$cyan-7: #0e7490 !default;
$cyan-6: #0891b2 !default;
$cyan-5: #06b6d4 !default;
$cyan-4: #22d3ee !default;
$cyan-3: #67e8f9 !default;
$cyan-2: #a5f3fc !default;
$cyan-1: #cffafe !default;
$cyan-0: #ecfeff !default;

$blue-light-9: #0c4a6e !default;
$blue-light-8: #075985 !default;
$blue-light-7: #0369a1 !default;
$blue-light-6: #0284c7 !default;
$blue-light-5: #0ea5e9 !default;
$blue-light-4: #38bdf8 !default;
$blue-light-3: #7dd3fc !default;
$blue-light-2: #bae6fd !default;
$blue-light-1: #e0f2fe !default;
$blue-light-0: #f0f9ff !default;

$blue-9: #1e3a8a !default;
$blue-8: #1e40af !default;
$blue-7: #1d4ed8 !default;
$blue-6: #2563eb !default;
$blue-5: #3b82f6 !default;
$blue-4: #60a5fa !default;
$blue-3: #93c5fd !default;
$blue-2: #bfdbfe !default;
$blue-1: #dbeafe !default;
$blue-0: #eff6ff !default;

$indigo-9: #312e81 !default;
$indigo-8: #3730a3 !default;
$indigo-7: #4338ca !default;
$indigo-6: #4f46e5 !default;
$indigo-5: #6366f1 !default;
$indigo-4: #818cf8 !default;
$indigo-3: #a5b4fc !default;
$indigo-2: #c7d2fe !default;
$indigo-1: #e0e7ff !default;
$indigo-0: #eef2ff !default;

$violet-9: #4c1d95 !default;
$violet-8: #5b21b6 !default;
$violet-7: #6d28d9 !default;
$violet-6: #7c3aed !default;
$violet-5: #8b5cf6 !default;
$violet-4: #a78bfa !default;
$violet-3: #c4b5fd !default;
$violet-2: #ddd6fe !default;
$violet-1: #ede9fe !default;
$violet-0: #f5f3ff !default;

$purple-9: #581c87 !default;
$purple-8: #6b21a8 !default;
$purple-7: #7e22ce !default;
$purple-6: #9333ea !default;
$purple-5: #a855f7 !default;
$purple-4: #c084fc !default;
$purple-3: #d8b4fe !default;
$purple-2: #e9d5ff !default;
$purple-1: #f3e8ff !default;
$purple-0: #faf5ff !default;

$fuchsia-9: #701a75 !default;
$fuchsia-8: #86198f !default;
$fuchsia-7: #a21caf !default;
$fuchsia-6: #c026d3 !default;
$fuchsia-5: #d946ef !default;
$fuchsia-4: #e879f9 !default;
$fuchsia-3: #f0abfc !default;
$fuchsia-2: #f5d0fe !default;
$fuchsia-1: #fae8ff !default;
$fuchsia-0: #fdf4ff !default;

$pink-9: #831843 !default;
$pink-8: #9d174d !default;
$pink-7: #be185d !default;
$pink-6: #db2777 !default;
$pink-5: #ec4899 !default;
$pink-4: #f472b6 !default;
$pink-3: #f9a8d4 !default;
$pink-2: #fbcfe8 !default;
$pink-1: #fce7f3 !default;
$pink-0: #fdf2f8 !default;

$rose-9: #881337 !default;
$rose-8: #9f1239 !default;
$rose-7: #be123c !default;
$rose-6: #e11d48 !default;
$rose-5: #f43f5e !default;
$rose-4: #fb7185 !default;
$rose-3: #fda4af !default;
$rose-2: #fecdd3 !default;
$rose-1: #ffe4e6 !default;
$rose-0: #fff1f2 !default;

$gray-warm-9: #1c1917 !default;
$gray-warm-8: #292524 !default;
$gray-warm-7: #44403c !default;
$gray-warm-6: #57534e !default;
$gray-warm-5: #78716c !default;
$gray-warm-4: #a8a29e !default;
$gray-warm-3: #d6d3d1 !default;
$gray-warm-2: #e7e5e4 !default;
$gray-warm-1: #f5f5f4 !default;
$gray-warm-0: #fafaf9 !default;

$gray-true-9: #171717 !default;
$gray-true-8: #262626 !default;
$gray-true-7: #404040 !default;
$gray-true-6: #525252 !default;
$gray-true-5: #737373 !default;
$gray-true-4: #a3a3a3 !default;
$gray-true-3: #d4d4d4 !default;
$gray-true-2: #e5e5e5 !default;
$gray-true-1: #f5f5f5 !default;
$gray-true-0: #fafafa !default;

$gray-9: #18181b !default;
$gray-8: #27272a !default;
$gray-7: #3f3f46 !default;
$gray-6: #52525b !default;
$gray-5: #71717a !default;
$gray-4: #a1a1aa !default;
$gray-3: #d4d4d8 !default;
$gray-2: #e4e4e7 !default;
$gray-1: #f4f4f5 !default;
$gray-0: #fafafa !default;

$gray-cool-9: #111827 !default;
$gray-cool-8: #1f2937 !default;
$gray-cool-7: #374151 !default;
$gray-cool-6: #4b5563 !default;
$gray-cool-5: #6b7280 !default;
$gray-cool-4: #9ca3af !default;
$gray-cool-3: #d1d5db !default;
$gray-cool-2: #e5e7eb !default;
$gray-cool-1: #f3f4f6 !default;
$gray-cool-0: #f9fafb !default;

$gray-blue-9: #0f172a !default;
$gray-blue-8: #1e293b !default;
$gray-blue-7: #334155 !default;
$gray-blue-6: #475569 !default;
$gray-blue-5: #64748b !default;
$gray-blue-4: #94a3b8 !default;
$gray-blue-3: #cbd5e1 !default;
$gray-blue-2: #e2e8f0 !default;
$gray-blue-1: #f1f5f9 !default;
$gray-blue-0: #f8fafc !default;

$dark: $gray-9;
$light: $gray-0;

$primary-9: $blue-9;
$primary-8: $blue-8;
$primary-7: $blue-7;
$primary-6: $blue-6;
$primary-5: $blue-5;
$primary-4: $blue-4;
$primary-3: $blue-3;
$primary-2: $blue-2;
$primary-1: $blue-1;
$primary-0: $blue-0;

$secondary-9: $gray-warm-9;
$secondary-8: $gray-warm-8;
$secondary-7: $gray-warm-7;
$secondary-6: $gray-warm-6;
$secondary-5: $gray-warm-5;
$secondary-4: $gray-warm-4;
$secondary-3: $gray-warm-3;
$secondary-2: $gray-warm-2;
$secondary-1: $gray-warm-1;
$secondary-0: $gray-warm-0;

$success-9: $green-9;
$success-8: $green-8;
$success-7: $green-7;
$success-6: $green-6;
$success-5: $green-5;
$success-4: $green-4;
$success-3: $green-3;
$success-2: $green-2;
$success-1: $green-1;
$success-0: $green-0;

$warning-9: $yellow-9;
$warning-8: $yellow-8;
$warning-7: $yellow-7;
$warning-6: $yellow-6;
$warning-5: $yellow-5;
$warning-4: $yellow-4;
$warning-3: $yellow-3;
$warning-2: $yellow-2;
$warning-1: $yellow-1;
$warning-0: $yellow-0;

$danger-9: $red-9;
$danger-8: $red-8;
$danger-7: $red-7;
$danger-6: $red-6;
$danger-5: $red-5;
$danger-4: $red-4;
$danger-3: $red-3;
$danger-2: $red-2;
$danger-1: $red-1;
$danger-0: $red-0;

$base-9: $gray-true-9;
$base-8: $gray-true-8;
$base-7: $gray-true-7;
$base-6: $gray-true-6;
$base-5: $gray-true-5;
$base-4: $gray-true-4;
$base-3: $gray-true-3;
$base-2: $gray-true-2;
$base-1: $gray-true-1;
$base-0: $gray-true-0;
