@use "sass:map";
@use "sass:string";

$text-color: white;

$red: (
  "9": #7f1d1d,
  "8": #991b1b,
  "7": #b91c1c,
  "6": #dc2626,
  "5": #ef4444,
  "4": #f87171,
  "3": #fca5a5,
  "2": #fecaca,
  "1": #fee2e2,
  "0": #fef2f2
);

$orange: (
  "9": #7c2d12,
  "8": #9a3412,
  "7": #c2410c,
  "6": #ea580c,
  "5": #f97316,
  "4": #fb923c,
  "3": #fdba74,
  "2": #fed7aa,
  "1": #ffedd5,
  "0": #fff7ed
);

$amber: (
  "9": #78350f,
  "8": #92400e,
  "7": #b45309,
  "6": #d97706,
  "5": #f59e0b,
  "4": #fbbf24,
  "3": #fcd34d,
  "2": #fde68a,
  "1": #fef3c7,
  "0": #fffbeb
);

$yellow: (
  "9": #713f12,
  "8": #854d0e,
  "7": #a16207,
  "6": #ca8a04,
  "5": #eab308,
  "4": #facc15,
  "3": #fde047,
  "2": #fef08a,
  "1": #fef9c3,
  "0": #fefce8
);

$lime: (
  "9": #365314,
  "8": #3f6212,
  "7": #4d7c0f,
  "6": #65a30d,
  "5": #84cc16,
  "4": #a3e635,
  "3": #bef264,
  "2": #d9f99d,
  "1": #ecfccb,
  "0": #f7fee7
);

$green: (
  "9": #14532d,
  "8": #166534,
  "7": #15803d,
  "6": #16a34a,
  "5": #22c55e,
  "4": #4ade80,
  "3": #86efac,
  "2": #bbf7d0,
  "1": #dcfce7,
  "0": #f0fdf4
);

$emerald: (
  "9": #064e3b,
  "8": #065f46,
  "7": #047857,
  "6": #059669,
  "5": #10b981,
  "4": #34d399,
  "3": #6ee7b7,
  "2": #a7f3d0,
  "1": #d1fae5,
  "0": #ecfdf5
);

$teal: (
  "9": #134e4a,
  "8": #115e59,
  "7": #0f766e,
  "6": #0d9488,
  "5": #14b8a6,
  "4": #2dd4bf,
  "3": #5eead4,
  "2": #99f6e4,
  "1": #ccfbf1,
  "0": #f0fdfa
);

$cyan: (
  "9": #164e63,
  "8": #155e75,
  "7": #0e7490,
  "6": #0891b2,
  "5": #06b6d4,
  "4": #22d3ee,
  "3": #67e8f9,
  "2": #a5f3fc,
  "1": #cffafe,
  "0": #ecfeff
);

$blue-light: (
  "9": #0c4a6e,
  "8": #075985,
  "7": #0369a1,
  "6": #0284c7,
  "5": #0ea5e9,
  "4": #38bdf8,
  "3": #7dd3fc,
  "2": #bae6fd,
  "1": #e0f2fe,
  "0": #f0f9ff
);

$blue: (
  "9": #1e3a8a,
  "8": #1e40af,
  "7": #1d4ed8,
  "6": #2563eb,
  "5": #3b82f6,
  "4": #60a5fa,
  "3": #93c5fd,
  "2": #bfdbfe,
  "1": #dbeafe,
  "0": #eff6ff
);

$indigo: (
  "9": #312e81,
  "8": #3730a3,
  "7": #4338ca,
  "6": #4f46e5,
  "5": #6366f1,
  "4": #818cf8,
  "3": #a5b4fc,
  "2": #c7d2fe,
  "1": #e0e7ff,
  "0": #eef2ff
);

$violet: (
  "9": #4c1d95,
  "8": #5b21b6,
  "7": #6d28d9,
  "6": #7c3aed,
  "5": #8b5cf6,
  "4": #a78bfa,
  "3": #c4b5fd,
  "2": #ddd6fe,
  "1": #ede9fe,
  "0": #f5f3ff
);

$purple: (
  "9": #581c87,
  "8": #6b21a8,
  "7": #7e22ce,
  "6": #9333ea,
  "5": #a855f7,
  "4": #c084fc,
  "3": #d8b4fe,
  "2": #e9d5ff,
  "1": #f3e8ff,
  "0": #faf5ff
);

$fuchsia: (
  "9": #701a75,
  "8": #86198f,
  "7": #a21caf,
  "6": #c026d3,
  "5": #d946ef,
  "4": #e879f9,
  "3": #f0abfc,
  "2": #f5d0fe,
  "1": #fae8ff,
  "0": #fdf4ff
);

$pink: (
  "9": #831843,
  "8": #9d174d,
  "7": #be185d,
  "6": #db2777,
  "5": #ec4899,
  "4": #f472b6,
  "3": #f9a8d4,
  "2": #fbcfe8,
  "1": #fce7f3,
  "0": #fdf2f8
);

$rose: (
  "9": #881337,
  "8": #9f1239,
  "7": #be123c,
  "6": #e11d48,
  "5": #f43f5e,
  "4": #fb7185,
  "3": #fda4af,
  "2": #fecdd3,
  "1": #ffe4e6,
  "0": #fff1f2
);

$gray-warm: (
  "9": #1c1917,
  "8": #292524,
  "7": #44403c,
  "6": #57534e,
  "5": #78716c,
  "4": #a8a29e,
  "3": #d6d3d1,
  "2": #e7e5e4,
  "1": #f5f5f4,
  "0": #fafaf9,
);

$gray-true: (
  "9": #171717,
  "8": #262626,
  "7": #404040,
  "6": #525252,
  "5": #737373,
  "4": #a3a3a3,
  "3": #d4d4d4,
  "2": #e5e5e5,
  "1": #f5f5f5,
  "0": #fafafa,
);

$gray: (
  "9": #18181b,
  "8": #27272a,
  "7": #3f3f46,
  "6": #52525b,
  "5": #71717a,
  "4": #a1a1aa,
  "3": #d4d4d8,
  "2": #e4e4e7,
  "1": #f4f4f5,
  "0": #fafafa
);

$gray-cool: (
  "9": #111827,
  "8": #1f2937,
  "7": #374151,
  "6": #4b5563,
  "5": #6b7280,
  "4": #9ca3af,
  "3": #d1d5db,
  "2": #e5e7eb,
  "1": #f3f4f6,
  "0": #f9fafb,
);

$gray-blue: (
  "9": #0f172a,
  "8": #1e293b,
  "7": #334155,
  "6": #475569,
  "5": #64748b,
  "4": #94a3b8,
  "3": #cbd5e1,
  "2": #e2e8f0,
  "1": #f1f5f9,
  "0": #f8fafc,
);

$palette: (
  "standard": $gray,
  "success": $green,
  "positive": $green,
  "warning": $yellow,
  "failure": $red,
  "negative": $red,
  "primary": $blue,
  "accent": $indigo,
  "red": $red,
  "orange": $orange,
  "amber": $amber,
  "yellow": $yellow,
  "lime": $lime,
  "green": $green,
  "emerald": $emerald,
  "teal": $teal,
  "cyan": $cyan,
  "blue-light": $blue-light,
  "blue": $blue,
  "indigo": $indigo,
  "violet": $violet,
  "purple": $purple,
  "fuchsia": $fuchsia,
  "rose": $rose,
  "pink": $pink,
  "gray-warm": $gray-warm,
  "gray-true": $gray-true,
  "gray": $gray,
  "gray-cool": $gray-cool,
  "gray-blue": $gray-blue
);

@mixin pal($palette) {
  @each $color, $tones in $palette {
    // $color
    @each $index, $hex in $tones {
      -color-#{$color}-#{$index}: #{$hex}
    }
  }
}

@mixin btn($palette) {
  @each $color, $tones in $palette {
    @debug string.index($color, "gray");
    @if (string.index($color, "gray") == -1) {
      -button-#{$color}-background: map.get($tones, "5");
      -button-#{$color}-foreground: map.get($tones, "1");
      -button-#{$color}-hover: map.get($tones, "6");
      -button-#{$color}-focused: map.get($tones, "6");
      -button-#{$color}-pressed: map.get($tones, "7");
    }
  }
}

@function hex($color, $tone) {
  @return map.get(map.get($palette, $color), $tone)
}

$neutral: "neutral";
$pressed: "pressed";
$hover: "hover";

@function background($color, $state: $neutral) {
  @if $color == "standard" or string.index($color, "gray") == 0 {
    @if $state == $neutral {
      @return hex($color, "2")
    } @else if $state == $hover {
      @return hex($color, "3")
    } @else if $state == $pressed {
      @return hex($color, "4")
    }
  } @else {
    @if $state == $neutral {
      @return hex($color, "5")
    } @else if $state == $hover {
      @return hex($color, "6")
    } @else if $state == $pressed {
      @return hex($color, "7")
    }
  }
}

@function text($color, $state: $neutral) {
  @if $color == "standard" or string.index($color, "gray") == 0 {
    @if $state == $neutral {
      @return hex($color, "6")
    } @else if $state == $hover {
      @return hex($color, "7")
    } @else if $state == $pressed {
      @return hex($color, "8")
    }
  } @else {
    @return hex($color, "0")
  }
}

.root {
  //@include palette($palette)
}

//noinspection ALL
//.button.standard {
//  -fx-background-color: hex("gray", "2");
//  -fx-text-fill: hex("gray", "6");
//  -fx-border-color: hex("gray", "2");
//
//  &:hover {
//    -fx-background-color: hex("gray", "3");
//    -fx-border-color: hex("gray", "3");
//    -fx-text-fill: hex("gray", "7");
//  }
//
//  &:pressed {
//    -fx-background-color: hex("gray", "4");
//    -fx-border-color: transparent;
//    -fx-text-fill: hex("gray", "8");
//  }
//
//  &.link {
//    -fx-text-fill: hex("gray", "2")
//  }
//
//  &.link:hover {
//    -fx-background-color: transparent;
//    -fx-border-color: hex("gray", "2")
//  }
//
//  &.link:pressed {
//    -fx-border-color: hex("gray", "3")
//  }
//
//  &.inverted {
//    -fx-background-color: transparent;
//    -fx-text-fill: hex("gray", "2");
//    -fx-border-color: hex("gray", "2");
//  }
//
//  &.inverted:hover {
//    -fx-background-color: hex("gray", "2");
//    -fx-border-color: hex("gray", "2");
//    -fx-text-fill: hex("gray", "6");
//  }
//
//  &.inverted:pressed {
//    -fx-background-color: hex("gray", "3");
//    -fx-border-color: transparent;
//    -fx-text-fill: hex("gray", "7");
//  }
//}

//noinspection ALL
.button {
  -fx-background-insets: 1px, 1px, 1px, 1px;
  -fx-background-radius: 4px 4px 4px 4px;
  -fx-border-radius: 4px 4px;
  -fx-border-width: 2px;
  -fx-border-style: solid;
  -fx-padding: 10px 20px 10px 20px;
  -fx-font-weight: bold;

  &:hover {
    -fx-cursor: hand;
  }

  &:pressed {
    -fx-border-color: transparent;
  }

  &.link {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0 0 2px 0;
    -fx-padding: 4px 4px 4px 4px;
  }

  &.inverted {
    -fx-background-color: transparent;
  }

  @each $color, $tones in $palette {
    &.#{$color} {
      -fx-background-color: background($color);
      -fx-border-color: background($color);
      -fx-text-fill: text($color);
    }

    &.#{$color}:hover {
      -fx-background-color: background($color, $hover);
      -fx-border-color: background($color, $hover);
    }

    &.#{$color}:pressed {
      -fx-background-color: background($color, $pressed);
      -fx-border-color: transparent;
    }

    &.link.#{$color} {
      -fx-background-color: transparent;
      -fx-border-color: transparent;
      -fx-text-fill: background($color);
    }

    &.link.#{$color}:hover {
      -fx-text-fill: background($color, $hover);
      -fx-border-color: background($color, $hover);
      -fx-border-width: 0 0 2px 0;
    }

    &.inverted.#{$color} {
      -fx-background-color: transparent;
      -fx-text-fill: background($color);
      -fx-border-color: background($color);
    }

    &.inverted.#{$color}:hover {
      -fx-background-color: background($color, $hover);
      -fx-border-color: background($color, $hover);
      -fx-text-fill: text($color);
    }

    &.inverted.#{$color}:pressed {
      -fx-background-color: background($color, $pressed);
      -fx-border-color: transparent;
    }
  }

  &.mini {
    -fx-font-size: 10px;
    -fx-padding: 4px 12px 4px 12px;
  }

  &.tiny {
    -fx-font-size: 10px;
    -fx-padding: 8px 17px 8px 17px;
  }

  &.small {
    -fx-font-size: 12px;
    -fx-padding: 9px 18px 9px 18px;
  }

  &.medium {
    -fx-font-size: 12px;
    -fx-padding: 10px 20px 10px 20px;
  }

  &.large {
    -fx-font-size: 13px;
    -fx-padding: 11px 22px 11px 22px;
  }

  &.big {
    -fx-font-size: 15px;
    -fx-padding: 12px 23px 12px 23px;
  }

  &.huge {
    -fx-font-size: 18px;
    -fx-padding: 14px 26px 14px 26px;
  }

  &.massive {
    -fx-font-size: 20px;
    -fx-padding: 15px 28px 15px 28px;
  }
}
