$pink-9: #831843 !default;
$pink-8: #9d174d !default;
$pink-7: #be185d !default;
$pink-6: #db2777 !default;
$pink-5: #ec4899 !default;
$pink-4: #f472b6 !default;
$pink-3: #f9a8d4 !default;
$pink-2: #fbcfe8 !default;
$pink-1: #fce7f3 !default;
$pink-0: #fdf2f8 !default;

$rose-9: #881337 !default;
$rose-8: #9f1239 !default;
$rose-7: #be123c !default;
$rose-6: #e11d48 !default;
$rose-5: #f43f5e !default;
$rose-4: #fb7185 !default;
$rose-3: #fda4af !default;
$rose-2: #fecdd3 !default;
$rose-1: #ffe4e6 !default;
$rose-0: #fff1f2 !default;

@mixin button($color) {

}
