.button.standa {
  -fx-background-color: #e4e4e7;
  -fx-text-fill: #52525b;
  -fx-border-color: #e4e4e7;
}
.button.standa:hover {
  -fx-background-color: #d4d4d8;
  -fx-border-color: #d4d4d8;
  -fx-text-fill: #3f3f46;
}
.button.standa:pressed {
  -fx-background-color: #a1a1aa;
  -fx-text-fill: #27272a;
}

.button {
  -fx-background-insets: 0, 1px;
  -fx-background-radius: 4px 4px 4px 4px;
  -fx-border-radius: 4px 4px;
  -fx-border-width: 4px;
  -fx-border-style: solid;
  -fx-padding: 10px 20px 10px 20px;
  -fx-font-weight: bold;
}
.button:hover {
  -fx-cursor: hand;
}
.button.tertiary {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-radius: 0;
  -fx-border-radius: 0;
  -fx-border-width: 0 0 2px 0;
  -fx-padding: 6px 6px 6px 6px;
}
.red .button {
  -fx-background-color: #ef4444;
  -fx-border-color: #ef4444;
  -fx-text-fill: white;
}
.red .button:hover {
  -fx-background-color: #dc2626;
  -fx-border-color: #dc2626;
}
.red .button:pressed {
  -fx-background-color: #b91c1c;
  -fx-border-color: #b91c1c;
}
.red .tertiary .button {
  -fx-text-fill: #ef4444;
}
.red .tertiary .button:hover {
  -fx-text-fill: #dc2626;
  -fx-border-color: #dc2626;
  -fx-border-width: 0 0 2px 0;
}
.indigo .button {
  -fx-background-color: #6366f1;
  -fx-border-color: #6366f1;
  -fx-text-fill: white;
}
.indigo .button:hover {
  -fx-background-color: #4f46e5;
  -fx-border-color: #4f46e5;
}
.indigo .button:pressed {
  -fx-background-color: #4338ca;
  -fx-border-color: #4338ca;
}
.indigo .tertiary .button {
  -fx-text-fill: #6366f1;
}
.indigo .tertiary .button:hover {
  -fx-text-fill: #4f46e5;
  -fx-border-color: #4f46e5;
  -fx-border-width: 0 0 2px 0;
}
.rose .button {
  -fx-background-color: #f43f5e;
  -fx-border-color: #f43f5e;
  -fx-text-fill: white;
}
.rose .button:hover {
  -fx-background-color: #e11d48;
  -fx-border-color: #e11d48;
}
.rose .button:pressed {
  -fx-background-color: #be123c;
  -fx-border-color: #be123c;
}
.rose .tertiary .button {
  -fx-text-fill: #f43f5e;
}
.rose .tertiary .button:hover {
  -fx-text-fill: #e11d48;
  -fx-border-color: #e11d48;
  -fx-border-width: 0 0 2px 0;
}
.pink .button {
  -fx-background-color: #ec4899;
  -fx-border-color: #ec4899;
  -fx-text-fill: white;
}
.pink .button:hover {
  -fx-background-color: #db2777;
  -fx-border-color: #db2777;
}
.pink .button:pressed {
  -fx-background-color: #be185d;
  -fx-border-color: #be185d;
}
.pink .tertiary .button {
  -fx-text-fill: #ec4899;
}
.pink .tertiary .button:hover {
  -fx-text-fill: #db2777;
  -fx-border-color: #db2777;
  -fx-border-width: 0 0 2px 0;
}
.gray .button {
  -fx-background-color: #71717a;
  -fx-border-color: #71717a;
  -fx-text-fill: white;
}
.gray .button:hover {
  -fx-background-color: #52525b;
  -fx-border-color: #52525b;
}
.gray .button:pressed {
  -fx-background-color: #3f3f46;
  -fx-border-color: #3f3f46;
}
.gray .tertiary .button {
  -fx-text-fill: #71717a;
}
.gray .tertiary .button:hover {
  -fx-text-fill: #52525b;
  -fx-border-color: #52525b;
  -fx-border-width: 0 0 2px 0;
}
.danger .button {
  -fx-background-color: #ef4444;
  -fx-border-color: #ef4444;
  -fx-text-fill: white;
}
.danger .button:hover {
  -fx-background-color: #dc2626;
  -fx-border-color: #dc2626;
}
.danger .button:pressed {
  -fx-background-color: #b91c1c;
  -fx-border-color: #b91c1c;
}
.danger .tertiary .button {
  -fx-text-fill: #ef4444;
}
.danger .tertiary .button:hover {
  -fx-text-fill: #dc2626;
  -fx-border-color: #dc2626;
  -fx-border-width: 0 0 2px 0;
}
.primary .button {
  -fx-background-color: #6366f1;
  -fx-border-color: #6366f1;
  -fx-text-fill: white;
}
.primary .button:hover {
  -fx-background-color: #4f46e5;
  -fx-border-color: #4f46e5;
}
.primary .button:pressed {
  -fx-background-color: #4338ca;
  -fx-border-color: #4338ca;
}
.primary .tertiary .button {
  -fx-text-fill: #6366f1;
}
.primary .tertiary .button:hover {
  -fx-text-fill: #4f46e5;
  -fx-border-color: #4f46e5;
  -fx-border-width: 0 0 2px 0;
}
.negative .button {
  -fx-background-color: #ef4444;
  -fx-border-color: #ef4444;
  -fx-text-fill: white;
}
.negative .button:hover {
  -fx-background-color: #dc2626;
  -fx-border-color: #dc2626;
}
.negative .button:pressed {
  -fx-background-color: #b91c1c;
  -fx-border-color: #b91c1c;
}
.negative .tertiary .button {
  -fx-text-fill: #ef4444;
}
.negative .tertiary .button:hover {
  -fx-text-fill: #dc2626;
  -fx-border-color: #dc2626;
  -fx-border-width: 0 0 2px 0;
}

/*# sourceMappingURL=mim.css.map */
