// SPDX-License-Identifier: MIT

@use "sass:color";
@use "color-palette" as palette;
@use "utils";

$fg-default:           palette.$base-9 !default;
$fg-muted:             palette.$base-6 !default;
$fg-subtle:            palette.$base-5 !default;
$fg-onEmphasis:        palette.$light  !default;

$canvas-default:       palette.$light  !default;
$canvas-overlay:       palette.$light  !default;
$canvas-inset:         palette.$base-0 !default;
$canvas-subtle:        palette.$base-0 !default;

$border-default:       palette.$base-2 !default;
$border-muted:         lighten(palette.$base-2, 0.03) !default;
$border-subtle:        utils.flattenColor(palette.$light, color.change(palette.$dark, $alpha: 0.15)) !default;
$shadow-default:       palette.$base-2 !default;

// neutral is used by the .split-menu-button,
// note that you should maintain some contrast between neutral and canvas.subtle
$neutral-emphasisPlus: palette.$base-9 !default;
$neutral-emphasis:     palette.$base-5 !default;
$neutral-muted:        color.change(palette.$base-3, $alpha: 0.2) !default;
$neutral-subtle:       color.change(palette.$base-1, $alpha: 0.5) !default;

$accent-fg:            palette.$primary-5 !default;
$accent-emphasis:      palette.$primary-5 !default;
$accent-muted:         color.change(palette.$primary-3, $alpha: 0.4) !default;
$accent-subtle:        palette.$primary-0 !default;

$primary-fg:            palette.$primary-5 !default;
$primary-emphasis:      palette.$primary-5 !default;
$primary-muted:         color.change(palette.$primary-3, $alpha: 0.4) !default;
$primary-subtle:        palette.$primary-0 !default;

$secondary-fg:            palette.$secondary-9 !default;
$secondary-emphasis:      palette.$secondary-9 !default;
$secondary-muted:         color.change(palette.$secondary-7, $alpha: 0.4) !default;
$secondary-subtle:        palette.$secondary-3 !default;

$success-fg:           palette.$success-5 !default;
$success-emphasis:     palette.$success-4 !default;
$success-muted:        color.change(palette.$success-3, $alpha: 0.4) !default;
$success-subtle:       palette.$success-0 !default;

$positive-fg:            palette.$emerald-5 !default;
$positive-emphasis:      palette.$emerald-5 !default;
$positive-muted:         color.change(palette.$emerald-3, $alpha: 0.4) !default;
$positive-subtle:        palette.$emerald-0 !default;

$warning-fg:           palette.$warning-5 !default;
$warning-emphasis:     palette.$warning-4 !default;
$warning-muted:        color.change(palette.$warning-3, $alpha: 0.4) !default;
$warning-subtle:       palette.$warning-0 !default;

$danger-fg:            palette.$danger-5 !default;
$danger-emphasis:      palette.$danger-5 !default;
$danger-muted:         color.change(palette.$danger-3, $alpha: 0.4) !default;
$danger-subtle:        palette.$danger-0 !default;

$negative-fg:            palette.$red-5 !default;
$negative-emphasis:      palette.$red-5 !default;
$negative-muted:         color.change(palette.$red-3, $alpha: 0.4) !default;
$negative-subtle:        palette.$red-0 !default;

$red-fg:            palette.$red-5 !default;
$red-emphasis:      palette.$red-5 !default;
$red-muted:         color.change(palette.$red-3, $alpha: 0.4) !default;
$red-subtle:        palette.$red-0 !default;

$orange-fg:            palette.$orange-5 !default;
$orange-emphasis:      palette.$orange-5 !default;
$orange-muted:         color.change(palette.$orange-3, $alpha: 0.4) !default;
$orange-subtle:        palette.$orange-0 !default;

$amber-fg:            palette.$amber-5 !default;
$amber-emphasis:      palette.$amber-5 !default;
$amber-muted:         color.change(palette.$amber-3, $alpha: 0.4) !default;
$amber-subtle:        palette.$amber-0 !default;

$yellow-fg:            palette.$yellow-5 !default;
$yellow-emphasis:      palette.$yellow-5 !default;
$yellow-muted:         color.change(palette.$yellow-3, $alpha: 0.4) !default;
$yellow-subtle:        palette.$yellow-0 !default;

$lime-fg:            palette.$lime-5 !default;
$lime-emphasis:      palette.$lime-5 !default;
$lime-muted:         color.change(palette.$lime-3, $alpha: 0.4) !default;
$lime-subtle:        palette.$lime-0 !default;

$green-fg:            palette.$green-5 !default;
$green-emphasis:      palette.$green-5 !default;
$green-muted:         color.change(palette.$green-3, $alpha: 0.4) !default;
$green-subtle:        palette.$green-0 !default;

$emerald-fg:            palette.$emerald-5 !default;
$emerald-emphasis:      palette.$emerald-5 !default;
$emerald-muted:         color.change(palette.$emerald-3, $alpha: 0.4) !default;
$emerald-subtle:        palette.$emerald-0 !default;

$teal-fg:            palette.$teal-5 !default;
$teal-emphasis:      palette.$teal-5 !default;
$teal-muted:         color.change(palette.$teal-3, $alpha: 0.4) !default;
$teal-subtle:        palette.$teal-0 !default;

$cyan-fg:            palette.$cyan-5 !default;
$cyan-emphasis:      palette.$cyan-5 !default;
$cyan-muted:         color.change(palette.$cyan-3, $alpha: 0.4) !default;
$cyan-subtle:        palette.$cyan-0 !default;

$blue-light-fg:            palette.$blue-light-5 !default;
$blue-light-emphasis:      palette.$blue-light-5 !default;
$blue-light-muted:         color.change(palette.$blue-light-3, $alpha: 0.4) !default;
$blue-light-subtle:        palette.$blue-light-0 !default;

$blue-fg:            palette.$blue-5 !default;
$blue-emphasis:      palette.$blue-5 !default;
$blue-muted:         color.change(palette.$blue-3, $alpha: 0.4) !default;
$blue-subtle:        palette.$blue-0 !default;

$indigo-fg:            palette.$indigo-5 !default;
$indigo-emphasis:      palette.$indigo-5 !default;
$indigo-muted:         color.change(palette.$indigo-3, $alpha: 0.4) !default;
$indigo-subtle:        palette.$indigo-0 !default;

$indigo-fg:            palette.$indigo-5 !default;
$indigo-emphasis:      palette.$indigo-5 !default;
$indigo-muted:         color.change(palette.$indigo-3, $alpha: 0.4) !default;
$indigo-subtle:        palette.$indigo-0 !default;

$violet-fg:            palette.$violet-5 !default;
$violet-emphasis:      palette.$violet-5 !default;
$violet-muted:         color.change(palette.$violet-3, $alpha: 0.4) !default;
$violet-subtle:        palette.$violet-0 !default;

$purple-fg:            palette.$purple-5 !default;
$purple-emphasis:      palette.$purple-5 !default;
$purple-muted:         color.change(palette.$purple-3, $alpha: 0.4) !default;
$purple-subtle:        palette.$purple-0 !default;

$fuchsia-fg:            palette.$fuchsia-5 !default;
$fuchsia-emphasis:      palette.$fuchsia-5 !default;
$fuchsia-muted:         color.change(palette.$fuchsia-3, $alpha: 0.4) !default;
$fuchsia-subtle:        palette.$fuchsia-0 !default;

$pink-fg:            palette.$pink-5 !default;
$pink-emphasis:      palette.$pink-5 !default;
$pink-muted:         color.change(palette.$pink-3, $alpha: 0.4) !default;
$pink-subtle:        palette.$pink-0 !default;

$rose-fg:            palette.$rose-5 !default;
$rose-emphasis:      palette.$rose-5 !default;
$rose-muted:         color.change(palette.$rose-3, $alpha: 0.4) !default;
$rose-subtle:        palette.$rose-0 !default;

$gray-warm-fg:            palette.$gray-warm-5 !default;
$gray-warm-emphasis:      palette.$gray-warm-5 !default;
$gray-warm-muted:         color.change(palette.$gray-warm-3, $alpha: 0.4) !default;
$gray-warm-subtle:        palette.$gray-warm-0 !default;

$gray-true-fg:            palette.$gray-true-5 !default;
$gray-true-emphasis:      palette.$gray-true-5 !default;
$gray-true-muted:         color.change(palette.$gray-true-3, $alpha: 0.4) !default;
$gray-true-subtle:        palette.$gray-true-0 !default;

$gray-fg:            palette.$gray-5 !default;
$gray-emphasis:      palette.$gray-5 !default;
$gray-muted:         color.change(palette.$gray-3, $alpha: 0.4) !default;
$gray-subtle:        palette.$gray-0 !default;

$gray-cool-fg:            palette.$gray-cool-5 !default;
$gray-cool-emphasis:      palette.$gray-cool-5 !default;
$gray-cool-muted:         color.change(palette.$gray-cool-3, $alpha: 0.4) !default;
$gray-cool-subtle:        palette.$gray-cool-0 !default;

$gray-blue-fg:            palette.$gray-blue-5 !default;
$gray-blue-emphasis:      palette.$gray-blue-5 !default;
$gray-blue-muted:         color.change(palette.$gray-blue-3, $alpha: 0.4) !default;
$gray-blue-subtle:        palette.$gray-blue-0 !default;

$chart-1: palette.$red-5 !default;
$chart-2: palette.$orange-5 !default;
$chart-3: palette.$amber-5 !default;
$chart-4: palette.$green-5 !default;
$chart-5: palette.$cyan-5 !default;
$chart-6: palette.$blue-5 !default;
$chart-7: palette.$indigo-6 !default;
$chart-8: palette.$violet-7 !default;

$chart-1-alpha70: color.change($chart-1, $alpha: 0.7) !default;
$chart-2-alpha70: color.change($chart-2, $alpha: 0.7) !default;
$chart-3-alpha70: color.change($chart-3, $alpha: 0.7) !default;
$chart-4-alpha70: color.change($chart-4, $alpha: 0.7) !default;
$chart-5-alpha70: color.change($chart-5, $alpha: 0.7) !default;
$chart-6-alpha70: color.change($chart-6, $alpha: 0.7) !default;
$chart-7-alpha70: color.change($chart-7, $alpha: 0.7) !default;
$chart-8-alpha70: color.change($chart-8, $alpha: 0.7) !default;

$chart-1-alpha20: color.change($chart-1, $alpha: 0.2) !default;
$chart-2-alpha20: color.change($chart-2, $alpha: 0.2) !default;
$chart-3-alpha20: color.change($chart-3, $alpha: 0.2) !default;
$chart-4-alpha20: color.change($chart-4, $alpha: 0.2) !default;
$chart-5-alpha20: color.change($chart-5, $alpha: 0.2) !default;
$chart-6-alpha20: color.change($chart-6, $alpha: 0.2) !default;
$chart-7-alpha20: color.change($chart-7, $alpha: 0.2) !default;
$chart-8-alpha20: color.change($chart-8, $alpha: 0.2) !default;
